# Environment variables
.env

# Ruby
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.tool-versions
Gemfile.lock

# Logs
*.log

# Database files (SQLite)
db/*.db
db/*.db-shm
db/*.db-wal

# OS files
.DS_Store
Thumbs.db
